.devcontainer
.husky
build
node_modules
lint-staged.config.js
.dockerignore
.env
.env.dev
.env.example
.eslintcache
.eslintignore
.eslintrc.json
.gitignore
.nvmrc
.prettierrc
docker-compose*
Dockerfile*
package*.json
README.md
tsconfig.json
.git
npm-debug.log
LICENSE
.vscode
